/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/08/2014, 4:04:27 PM
    Author     : Zeb
*/
body {
    width: 100vw; 
    height: 56.25vw; /* 100/56.25 = 1.778 */
   
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    min-height: 461px;
    min-width: 820px ;
    overflow: auto;
    margin: auto;
    position: absolute;
    top:0;bottom:0; /* vertical center */
    left:0;right:0; /* horizontal center */

    text-align: center;
    
    background-image: url("images/background/blackpattern3.jpg");
    background-size: 100%;
    background-position: left top;   
    position:absolute 
}
.header{
    width: 100%;
    height:20%;
    float: top;
    /*background-color: green;*/
}
.banner{
    padding-bottom:100px; 
    /*height: 100%;*/
    width:100%;
    
}
.navigation{
/*    background-color: yellow;*/
/*    background-image: url("images/banners/spear.png");
    background-size: 100%;*/
    position: relative;
    width: 100%;
    color:#221a16;
    font-family:Cordia New;
    font-size: 150%;
    
    height:5%;
    float: top;
    /*opacity: 1;*/
    text-align:center ;
       
}

a:link {
    color: #221a16;
    text-decoration: none;
}

a:visited {
    color: #221a16;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.mainContainer{
    width:100%;
    height:60%;
    float: top;

}

.commentWindow {
    float: left;
    width:15%;
    height:100%;
    overflow:auto;
    /*background-color: blue;*/
}

.gameWindow {
    float: left;
    width:70%;
    height:100%;
    overflow:auto;
    /*background-color: red;*/
}

.chatBox{

}

.footer{
    color:#d2caa0;
    font-family:Cordia New;
    font-size: 150%;
    text-align:center;
    height: 5%;
    float:top;
    /*background-color: blueviolet;*/
}

path, g path {
    fill-opacity:0;
    stroke:#221a16;
    stroke-width:3;
}
path:hover, g:hover path{
    fill:orange;
    fill-opacity:.4;
}

#svg{
    width:100%;
    height:99%;
/*    width:1100px;
    height:716.6px;*/
    position:absolute;
    top:0px;
    left:0px;
/*position:relative;*/
    z-index: 5;
}